# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/
obj/
*.exe
*.out
*.app

# Config files
*.json

# Arch Linux package files
archlinux/*.pkg.tar.zst
archlinux/pkg
archlinux/src
archlinux/block-biter
